{% extends "base.html" %}

{% block title %}<span class="by">by</span> Joseph{% endblock %}

{% block content %}
    <div class="post span-9" >
            <div class="post-meta col span-2">
				<span><a href="">20 May</a></span>
				<ul>
					<li>In <a href="">Music</a>, <a href="">Design</a></li>
					<li><a href="">10 comments</a></li>
				</ul>
			</div>

        <div class="post-content last span-9 nudge-2">
            <h3><a href="./trials/">Gene/Gene Synonyms Dictionary</a></h3>

        </div>
    </div>
     <div class="post span-9" >
            <div class="post-meta col span-2">
				<span><a href="">20 May</a></span>
				<ul>
					<li>In <a href="">Music</a>, <a href="">Design</a></li>
					<li><a href="">10 comments</a></li>
				</ul>
			</div>

        <div class="post-content last span-9 nudge-2">
            <h3><a href="./trials/">Misspelling words cases</a></h3>

        </div>
    </div>

{% endblock %}

{% block sidebar %}

<div id="about" class="section">
    <h3>About</h3>

    <p>Read a brief introduction to clinical research, including information on types of studies and what happens during a study. Find information about eligibility to participate in a study, risks and benefits of study participation, the informed consent process, and questions to ask when considering whether to participate in a study.</p>

</div>




{% endblock %}