{% load staticfiles %}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/mark.min.js' %}"></script>
<style>
mark{
    background: orange;
    color: black;
    font-size:200%;
}
</style>
</head>
<body>
<div class="context">
    <p>Clinical Trial</p>
</div>

<div>
<form action="" method="post" id="test">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Search" />
</form>
</div>
<div class="message" id="testbox"></div>
<div class="message" id="msgbox"></div>
<script>
var instance = new Mark(document.querySelector("#msgbox"));
        var options = {
        "accuracy": {
        "value": "exactly",
        "limiters": [",", "."]
        }
        };

$('#test').submit(function(e){

    $.post('./file/',$(this).serialize(),function(data){
        $('#msgbox').empty().append(data)
         instance.mark($('#id_term').val(),options);

    });
    e.preventDefault();

});

</script>
</body>
</html>