{% extends "base.html" %}

    <div id="wrapper" class="span-12">
     <div id="pages">
        <ul>
            <li><a href="">PTEN</a></li>
        </ul>
    </div>

    <div id="header" class="col last span-12">
        <h1><span class="amp"> Clinical </span> Trial</h1>

    </div>



        {% block title %}Search Result{% endblock %}


        {% block content %}
        <div class="post span-9" >
        <div class="post-content last span-9 nudge-2">
            <h3> Welcome to Clinical Trial Demo API</h3>
                <p>Trial ID: the Unique ID of trail in ClinicalTrials.gov. (Example: NCT02585778)</p>

                <p>Searching Word: any word you want to highlight in given trial. (Example: a-1)</p>
        </div>
        </div>
        {% endblock %}

        {% block sidebar %}

        <div id="search" class="section">
            <h3>Search</h3>
            <form action="" method="post" id="searchbar">
             {% csrf_token %}
             {{ form }}
            <input type="submit" value="Search" />
            </form>

        </div>


    {% endblock %}

	{% block script %}
		var instance = new Mark(document.querySelector("#content"));
				var options = {
				"accuracy": {
				"value": "exactly",
				"limiters": [",", "."]
				}
				};

		$('#searchbar').submit(function(e){

			$.post('./file/',$(this).serialize(),function(data){
				$('#content').empty().append(data)
				 instance.mark($('#id_term').val(),options);

			});
			e.preventDefault();

		});

		{% endblock %}





